header{
	@extend %flex-row;
	justify-content:center;
	align-items:center;
	text-align:center;
	height:60px;
	background-color: $white;
	position: fixed;
	top:0;
	width:100%;
	// border:1px solid black;
	flex-wrap:wrap;
	box-shadow: 0px 1px 4px $blush;
	z-index: 10000;

	a{
		text-decoration: none;
		color: $blush;
	}
}