.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200000;
  background: white;
  opacity: 1;
  overflow: hidden;
  /* Safari */
  transition: opacity 0.4s;

  img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
  }

}

.loader.loaded {
  z-index: -1;
  opacity: 0;
}
