$bg-lg:900px;
$bg-md: 600px;
$bg-sm:380px;

section {

  @extend %flex-column;
  @extend %full-width-and-height;
  align-items: center;
  justify-content: flex-start;
  min-height: 600px;
  overflow-x:hidden;
  background-color: $white;



  .section-content {
  	z-index: 100;
    @extend %flex-column;
    align-items: center;
    margin-top: 100px;

    h3 {
      font-weight: 400;
      margin-bottom: 40px;
      text-align: center;
    }
    h4 {
      font-style: italic;
      font-weight: 400;
      margin-bottom: 20px;
      text-align: center;
    }


    .section-quote {
      width: 80%;
    }

    .section-main {
      @extend %flex-column;
      align-items: center;
      width: 100%;


      .section-row {
        width: 100%;
        @extend %flex-row;
      }

      .col-6 {
        width: 50%;
        padding: 10px 5px 10px 5px;
      }


    }
  }
}

.placeholder-bar {
  width: 100%;
  height: 20px;
  border-radius: 6px;
  background-color: grey;
}

#Updates {
  // background-image: url(../assets/bg-yellow-circle.png);
  // background-origin: border-box;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: left;
  #Bg-Yellow-Circle {
    margin-left: -100px;
    min-height: $bg-md;
    min-width: $bg-md;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: #F2E246;
  } // inkyong & michael
  #Michael-Sketched {
    width: 90%;
  }

  .col-6:nth-child(2) {
    @extend %flex-column;
    justify-content: center;
  }

  #campaign-status{
  	height:80px;
  }

}

#About {
  // background-image: url(../assets/bg-purple-square.png);
  // background-origin: border-box;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
  #Bg-Purple-Square {
    min-height: $bg-lg;
    min-width: $bg-lg;
    position: absolute;
    background-color: #94618E;
    transform: rotate(-5deg);
  }

  #embed-container{
  	height: 480px;
  }

}

#Journey {

  #Bg-Pink-Triangles {
    min-height: $bg-lg;
    min-width: $bg-lg;
    position: absolute;
  }

  .journey-image{
	  	width:100%;
	  	height:auto;
	  }
}

#MJFF{
	#Bg-Orange-Strips{
		min-height: $bg-lg;
    min-width: $bg-lg;
    position: absolute;
	}

	iframe {
    min-width: 100%;
    height: 480px;
    margin: 0;
    padding: 10px;
  }
}

#Track{
	#Bg-Blue-Squiggle{
		min-height: $bg-lg;
    min-width: $bg-lg;
    position: absolute;
	}

	#Map-Container{
		height:480px;
	}
}

#Acknowledgements{
	#Bg-Blue-Bubbles{
		height: $bg-md;
    min-width: $bg-md;
    position: absolute;
	}

	.donate-cta{
		margin-top: 40px;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.donate-button{
		padding:10px;
		border:2px solid $blush;
		@extend %flex-column;
		justify-content:center;
		align-items:center;
		text-align: center;
		width:250px;
		background-color: rgba(255,255,255,0.5);
		
	}
	.donate-button:hover{
		background-color: $white;
	}
}


@media (max-width:680px) {
  section {
    .section-content {
      .section-main {
        .section-row {
          flex-direction: column;

          .col-6 {
            width: 100%;
          }
        }
      }
    }

  }

  #Updates{
  	#Bg-Yellow-Circle{
  		overflow-x:hidden;
  		min-width: $bg-sm;
			min-height: $bg-sm;
  	}
  }

  #About{
  	#Bg-Purple-Square{
  		overflow-x:hidden;
  		min-width: $bg-sm;
			min-height: $bg-sm;
  	}
  	#embed-container{
	  	height: unset;
  	}
  }

  #MJFF{
  	#Bg-Orange-Strips{
  		overflow-x:hidden;
  		min-width: $bg-sm;
	  	min-height: $bg-sm;
  	}
    	iframe{
  	  	height: unset;
    	}
  }

  #Track{
  	#Bg-Blue-Squiggle{
  		overflow-x:hidden;
  		min-width: $bg-sm;
	  	min-height: $bg-sm;
  	}
  	#Map-Container{
  		height:300px;
  	}
  }

  
  #Journey{
  	#Bg-Pink-Triangles{
  		overflow-x:hidden;
  		min-width: $bg-sm;
	  	min-height: $bg-sm;
  	}
  }
  #Acknowledgements{
  	#Bg-Blue-Bubbles {
  		overflow-x:hidden;
	  	min-width: $bg-sm;
	  	min-height: $bg-sm;
	  	width: $bg-sm;
	  }
  }  
}