// colors:
$aqua: #008f95;
$blush: #eb6e80;
$mustard:#e9b000;
$papaya:#e24e42;
$black: black;
$white: #FFFFFF;
$grape:#94618e;
$shell: #F8EEE7;

// fonts
$font-main: 'Barlow Condensed',
sans-serif;

//font-weights:
$extrabold:700;
$bold:500;
$regular:400;
$thin:300;

// media sizes
$col-sm:768px;
$col-md:992px;
$col-lg:1200px;

// globals
%full-width-and-height{
  width:100%;
  height:100%;
}
%flex-row{
  display: flex;
  flex-direction:row;
}
%flex-column{
  display: flex;
  flex-direction:column;
}


h1, h2, h3, h4, h5, h6, p{
  margin:0;
}

h1{
  font-size: 150px;
}

h2{
  font-size: 92px;
}

h3{
  font-size: 60px;
}

h4{
  font-size: 36px;
}
p{
  font-size: 22px;
}

// --- app container styles --- //
html,body{
  @extend %full-width-and-height;
  margin:0;
  font-family: $font-main;
}

body{
  overflow-x: hidden !important;


}

.overflow-wrapper{
    overflow-x: hidden !important;
}


#App{
  display: flex;
  flex-direction:column;
  margin:0;
}

.container{
  width:75%;
}

@media (max-width:680px){
  .container{
    width:95%;
  }
 h1{
   font-size: 60px;
 }

 h2{
   font-size: 48px;
 }

 h3{
   font-size: 36px;
 }

 h4{
   font-size: 28px;
 }
 p{
   font-size: 22px;
 }
}



// import partials
@import 'header';
@import 'footer';
@import 'sections';
@import 'banner';
@import 'loader';
@import 'acknowledgements';