html, body {
  font: 100% "Barlow Condensed", sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0; }

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px 20px 20px 20px; }

.landing {
  width: 100%;
  height: 100vh;
  font: 100% "Barlow Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  background-image: url("../assets/arial-kilimanjaro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: black; }
  .landing .landing-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%; }
  .landing .landing-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 20px 20px 20px;
    justify-content: center;
    align-items: flex-start; }
  .landing .landing-subsubtitle {
    font-size: 32px;
    text-shadow: 4px 3px black;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; }
  .landing .landing-title {
    font-weight: 700;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap; }
    .landing .landing-title .title-large {
      font-weight: 700;
      font-size: 220px;
      text-shadow: 9px 7px black;
      padding: 0px 10px 0px 0px;
      margin-top: -25px; }
    .landing .landing-title .title-animated {
      font-weight: 700;
      font-size: 120px;
      text-shadow: 9px 7px black;
      min-width: 460px; }
  .landing .landing-subtitle {
    font-weight: 700;
    font-size: 120px;
    text-shadow: 9px 7px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: -20px; }
    .landing .landing-subtitle .landing-subtitle-main {
      line-height: 90%;
      padding-right: 40px; }
    .landing .landing-subtitle .landing-subtitle-badge {
      border-radius: 50%;
      background-color: #eb6e80;
      min-width: 250px;
      min-height: 250px;
      font-size: 48px;
      font-weight: 500;
      text-shadow: 3px 2px black;
      box-shadow: 6px 5px black;
      border: 4px solid white;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .landing .landing-subtitle .landing-subtitle-badge span {
        width: 220px;
        transform: rotate(20deg); }
        .landing .landing-subtitle .landing-subtitle-badge span a {
          color: white;
          text-decoration: none; }
    .landing .landing-subtitle .landing-subtitle-badge:hover {
      background-color: #e24e42; }
  .landing .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    z-index: 10;
    padding-bottom: 10px; }
    .landing .buttons .btn a {
      color: white;
      text-decoration: none; }
  @media screen and (max-width: 768px) {
    .landing .landing-subsubtitle {
      font-size: 24px;
      font-weight: 400;
      text-shadow: 2px 1px black;
      text-align: center;
      justify-content: center; }
    .landing .landing-title {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .landing .landing-title .title-large {
        font-size: 80px;
        margin-top: 0px;
        text-shadow: 6px 5px black;
        width: 100%;
        text-align: center; }
      .landing .landing-title .title-animated {
        font-size: 32px;
        min-width: 0px;
        width: 100%;
        height: 1.5em;
        text-shadow: 4px 3px black;
        text-align: center; }
    .landing .landing-subtitle {
      font-size: 32px;
      text-shadow: 4px 3px black;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 0px; }
      .landing .landing-subtitle .landing-subtitle-main {
        padding-right: 0px; }
      .landing .landing-subtitle .landing-subtitle-badge {
        margin-top: 10px;
        border-radius: 0%;
        width: 100%;
        min-height: 40px;
        font-size: 24px;
        font-weight: 500;
        text-shadow: 3px 2px black;
        box-shadow: 6px 5px black;
        border: 4px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .landing .landing-subtitle .landing-subtitle-badge span {
          width: 100%;
          transform: rotate(0deg); }
          .landing .landing-subtitle .landing-subtitle-badge span a {
            color: white;
            text-decoration: none; }
    .landing .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      z-index: 10;
      padding-bottom: 10px; }
      .landing .buttons .btn a {
        color: white;
        text-decoration: none; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .landing .landing-title .title-large {
      font-weight: 700;
      font-size: 120px;
      text-shadow: 9px 7px black;
      padding: 0px 10px 0px 0px;
      margin-top: -10px; }
    .landing .landing-title .title-animated {
      font-weight: 700;
      font-size: 80px;
      text-shadow: 9px 7px black;
      min-width: 300px;
      height: 0px; }
    .landing .landing-subtitle {
      font-weight: 700;
      font-size: 80px;
      text-shadow: 9px 7px black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%; }
      .landing .landing-subtitle .landing-subtitle-main {
        line-height: 90%;
        padding-right: 20px; }
      .landing .landing-subtitle .landing-subtitle-badge {
        border-radius: 50%;
        min-width: 180px;
        min-height: 180px;
        font-size: 32px;
        font-weight: 500;
        text-shadow: 3px 2px black;
        box-shadow: 6px 5px black;
        border: 4px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .landing .landing-subtitle .landing-subtitle-badge span {
          width: 180px;
          transform: rotate(20deg); }
          .landing .landing-subtitle .landing-subtitle-badge span a {
            color: white;
            text-decoration: none; }
      .landing .landing-subtitle .landing-subtitle-badge:hover {
        background-color: #eb6e80; }
    .landing .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      z-index: 10;
      padding-bottom: 10px; }
      .landing .buttons .btn a {
        color: white;
        text-decoration: none; } }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .landing .landing-title .title-large {
      font-weight: 700;
      font-size: 180px;
      text-shadow: 9px 7px black;
      padding: 0px 10px 0px 0px;
      margin-top: -30px; }
    .landing .landing-title .title-animated {
      font-weight: 700;
      font-size: 120px;
      text-shadow: 9px 7px black;
      min-width: 300px;
      height: 0px; }
    .landing .landing-subtitle {
      font-weight: 700;
      font-size: 120px;
      text-shadow: 9px 7px black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%; }
      .landing .landing-subtitle .landing-subtitle-main {
        line-height: 90%;
        padding-right: 20px; }
      .landing .landing-subtitle .landing-subtitle-badge {
        border-radius: 50%;
        min-width: 240px;
        min-height: 240px;
        font-size: 32px;
        font-weight: 500;
        text-shadow: 3px 2px black;
        box-shadow: 6px 5px black;
        border: 4px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .landing .landing-subtitle .landing-subtitle-badge span {
          width: 200px;
          transform: rotate(20deg); }
          .landing .landing-subtitle .landing-subtitle-badge span a {
            color: white;
            text-decoration: none; }
      .landing .landing-subtitle .landing-subtitle-badge:hover {
        background-color: #eb6e80; }
    .landing .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      z-index: 10;
      padding-bottom: 10px; }
      .landing .buttons .btn a {
        color: white;
        text-decoration: none; } }

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8EEE7;
  background-color: white; }
  .main #result,
  .main .countdown {
    text-shadow: 1px 1px black; }
  .main #campaign .section-content .info p {
    text-shadow: 1px 1px #94618e; }
  .main #journey .section-content .info p {
    text-shadow: 1px 1px #eb6e80; }
  .main #updates .section-content .info p {
    text-shadow: 1px 1px #94618e; }
  .main #foundation .section-content .info p {
    text-shadow: 1px 1px #e24e42; }
  .main section {
    padding: 48px 0px 48px 0px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F8EEE7; }
    .main section .section-container {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 10px 0px 20px 0px; }
      .main section .section-container .header {
        width: 30%; }
      .main section .section-container .section-content {
        display: flex;
        flex-direction: column;
        width: 70%; }
      .main section .section-container h1 {
        padding: 0px 0px 10px 0px;
        margin: 0px;
        font-size: 42px;
        text-shadow: 3px 2px black; }
      .main section .section-container p {
        font-size: 24px; }
      .main section .section-container .info {
        width: 100%;
        padding: 0px 20px 0px 10px; }
      .main section .section-container .visuals {
        padding: 20px 0px 20px 0px;
        width: 100%;
        order: -1; }
        .main section .section-container .visuals .placeholder {
          width: 100%;
          height: 580px;
          background-color: grey; }
          .main section .section-container .visuals .placeholder img {
            width: 100%; }
  @media screen and (max-width: 768px) {
    .main section .section-container {
      flex-direction: column; }
      .main section .section-container .header {
        width: 100%; }
      .main section .section-container .section-content {
        display: flex;
        flex-direction: column;
        width: 100%; }
      .main section .section-container .info {
        width: 100%;
        padding: 0px 20px 0px 0px; }
      .main section .section-container .visuals {
        width: 100%;
        order: -1; }
        .main section .section-container .visuals .placeholder {
          height: 340px; }
          .main section .section-container .visuals .placeholder img {
            width: 100%; }
      .main section .section-container .header {
        width: 100%;
        order: -2; } }
  @media screen and (min-width: 768px) and (max-width: 1380px) {
    .main section .section-container {
      flex-direction: column; }
      .main section .section-container .section-content {
        display: flex;
        flex-direction: column;
        width: 90%; }
      .main section .section-container .info {
        width: 100%;
        padding: 0px 20px 0px 0px; }
      .main section .section-container .visuals {
        width: 100%;
        order: -1; }
        .main section .section-container .visuals .placeholder {
          height: 340px; }
          .main section .section-container .visuals .placeholder img {
            width: 100%; }
      .main section .section-container .header {
        width: 100%; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: black;
  color: #94618e;
  bottom: 0; }
  footer .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    footer .footer-info a {
      color: #94618e;
      text-decoration: none; }

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: 100%; }
    footer .footer-info {
      flex-direction: column;
      font-size: 10px; } }
.highlight-foundation {
  background-color: #eb6e80;
  padding: 2px; }

.highlight-journey {
  background-color: #e24e42;
  padding: 2px; }

.highlight-campaign {
  background-color: #008f95;
  padding: 2px; }

.countdown {
  font-size: 32px;
  font-weight: 500; }

#campaign {
  background-color: #eb6e80;
  color: white; }

#journey {
  background-color: #94618e;
  color: white; }

#updates {
  background-color: #e24e42;
  color: white; }

#foundation {
  background-color: #e9b000;
  color: white; }

.bottomMenu {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  color: #eb6e80;
  font-size: 24px;
  font-weight: 500;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 120px 120px;
  border-color: transparent transparent white transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .bottomMenu div {
    margin-top: 160px;
    margin-right: 10px;
    transform: rotate(-45deg);
    text-shadow: 1px 1px black; }
    .bottomMenu div a {
      color: #eb6e80;
      text-decoration: none; }

#result {
  width: 90%;
  padding: 10px 40px 10px 0px;
  height: 80px; }

#campaign-placeholder {
  background-image: url("../assets/helen-placeholder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black; }

#journey-placeholder {
  background-image: url("../assets/Mt._Kilimanjaro_12.2006.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black; }

/*# sourceMappingURL=main.css.map */
