// colors:
$aqua: #008f95;
$blush: #eb6e80;
$mustard:#e9b000;
$papaya:#e24e42;
$black: black;
$white: #FFFFFF;
$grape:#94618e;
$shell: #F8EEE7;

// fonts
$font-main: 'Barlow Condensed', sans-serif;

//font-weights:
$extrabold:700;
$bold:500;
$regular:400;
$thin:300;

// font-sizes:
$fontsize-xl: 220px;
$fontsize-sxl: 180px;
$fontsize-lg: 120px;
$fontsize-slg: 80px;
$fontsize-md: 48px;
$fontsize-sm: 32px;
$fontsize-xs: 24px;
$fontsize-xxs: 18px;


// media sizes
$col-sm:768px;
$col-md:992px;
$col-lg:1200px;

// container control


html, body{
	font: 100% $font-main;
	width: 100%;
	min-height:100%;
	margin:0;
}

.container{
	display:flex;
	flex-direction:column;
	width:90%;
	padding:10px 20px 20px 20px;
}

.landing{
	width:100%;
	height:100vh;
	font: 100% $font-main;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:white;
	background-color: black;
	background-image: url("../assets/arial-kilimanjaro.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  background-color: black;

  .landing-bg{
  	display: flex;
  	flex-direction:row;
  	justify-content:center;
    align-items: center;
  	background-color: rgba(0,0,0,0.25);
  	width:100%;
  	height:100%;
  }
  
  .landing-container{
  	height:100%;
  	display:flex;
  	flex-direction:column;
  	width:90%;
  	padding:10px 20px 20px 20px;
  	justify-content:center;
  	align-items:flex-start;	
  }

  .landing-subsubtitle{
		font-size: $fontsize-sm;	
		text-shadow: 4px 3px black;
		font-weight: $extrabold;	
		display: flex;
		flex-direction:row;
		justify-content:flex-start;
		align-items:flex-start;
		width:100%;
		// height:100%;
	}


	.landing-title{
		font-weight: $extrabold;
		padding:0px;
		width:100%;
		display: flex;
		flex-direction:row;
		justify-content: flex-start;
		align-items: baseline;
		flex-wrap:wrap;

		.title-large{
			font-weight: $extrabold;
			font-size: $fontsize-xl;	
			text-shadow: 9px 7px black;
			padding:0px 10px 0px 0px;
	    margin-top: -25px;
			// line-height: 50%;
			}
		.title-animated{
			font-weight: $extrabold;
			font-size: $fontsize-lg;	
			text-shadow: 9px 7px black;
			min-width:460px;
			// height:180px;
			}
	}

	.landing-subtitle{
		font-weight: $extrabold;
		font-size: $fontsize-lg;	
		text-shadow: 9px 7px black;
		display: flex;
		flex-direction:row;
		justify-content:flex-start;
		align-items:center;
		width:100%;
		margin-top: -20px;

		.landing-subtitle-main{
			line-height: 90%;
			padding-right: 40px;
		}

		.landing-subtitle-badge{
			border-radius: 50%;
			background-color: $blush;
			min-width:250px;
			min-height:250px;
			font-size: $fontsize-md;
			font-weight: 500;	
			text-shadow: 3px 2px black;
			box-shadow: 6px 5px black;
			border:4px solid white;
			flex-wrap:wrap;

			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align: center;
			
				span{
					width:220px;
					transform: rotate(20deg);

					a {
					  color: white;
					  text-decoration: none; 
					}
				}
		}

		.landing-subtitle-badge:hover{
				background-color: $papaya;
		}

	}


	.buttons{
		position: absolute;
		// left:0px;
		// bottom:10px;
		bottom: 0%;
    left: 50%;
    transform: translate(-50%,-10%);
		display: flex;
		flex-direction:column;
		justify-content:center;
		width:100%;
		align-items:center;
		font-size: $fontsize-xs;
		font-weight: 500;	
		margin-top:10px;
		text-shadow: 2px 1px black;
		text-align: center;
		z-index: 10;

		.btn{
			// width:250px;
			// border:4px solid white;
			// box-shadow: 4px 4px black;
			// padding:10px;
			// margin-right:10px;

			a {
			  color: white;
			  text-decoration: none; 
			}
		}
	}

	@media screen and (max-width: 768px){

		.landing-subsubtitle{
			font-size: $fontsize-xs;
			font-weight: $regular;
			text-shadow: 2px 1px black;
			text-align: center;
			justify-content: center;
		}

		.landing-title{
			flex-direction:row;
			align-items:center;
			justify-content:flex-start;
			flex-wrap:wrap;

			.title-large{
				font-size: $fontsize-lg - 40;
				margin-top: 0px;
				text-shadow: 6px 5px black;
				width:100%;
				text-align: center;
			}
			.title-animated{
				font-size: $fontsize-sm;
				min-width:0px;
				width:100%;
				height:1.5em;
				text-shadow: 4px 3px black;
				text-align: center;
			}
		}

		.landing-subtitle{
			font-size: $fontsize-sm;
			text-shadow: 4px 3px black;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align: center;
			margin-top: 0px;

			.landing-subtitle-main{
				padding-right:0px;	
			}
			

			.landing-subtitle-badge{
				margin-top:10px;
				border-radius: 0%;
				width:100%;
				min-height:40px;
				font-size: $fontsize-xs;
				font-weight: $bold;	
				text-shadow: 3px 2px black;
				box-shadow: 6px 5px black;
				border:4px solid white;

				display:flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				text-align: center;
				
					span{
						width:100%;
						transform: rotate(00deg);

						a {
						  color: white;
						  text-decoration: none; 
						}
					}
			}
		}

			.buttons{
			display: flex;
			flex-direction:column;
			justify-content:flex-end;
			width:100%;
			align-items:center;
			font-size: $fontsize-xxs;
			font-weight: $bold;	
			margin-top:30px;
			text-shadow: 2px 1px black;
			text-align: center;

			.btn{
				// width:250px;
				// border:4px solid white;
				// box-shadow: 4px 4px black;
				// padding:10px;
				// margin-right:10px;

				a {
				  color: white;
				  text-decoration: none; 
				}
			}
		}
	}

	@media screen and (min-width: 768px) and (max-width: 992px){
		.landing-title{
			.title-large{
				font-weight: $extrabold;
				font-size: $fontsize-lg;	
				text-shadow: 9px 7px black;
				padding:0px 10px 0px 0px;
		    margin-top: -10px;
				// line-height: 50%;
				}
			.title-animated{
				font-weight: $extrabold;
				font-size: $fontsize-slg;	
				text-shadow: 9px 7px black;
				min-width:300px;
				height:0px;
				}
		}

		.landing-subtitle{
			font-weight: $extrabold;
			font-size: $fontsize-slg;	
			text-shadow: 9px 7px black;
			display: flex;
			flex-direction:row;
			justify-content:flex-start;
			align-items:center;
			width:100%;

			.landing-subtitle-main{
				line-height: 90%;
				padding-right: 20px;
				// margin-right: -20px;
			}

			.landing-subtitle-badge{
				border-radius: 50%;
				min-width:180px;
				min-height:180px;
				font-size: $fontsize-sm;
				font-weight: $bold;	
				text-shadow: 3px 2px black;
				box-shadow: 6px 5px black;
				border:4px solid white;

				display:flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				text-align: center;
				
					span{
						width:180px;
						transform: rotate(20deg);

						a {
						  color: white;
						  text-decoration: none; 
						}
					}
			}

			.landing-subtitle-badge:hover{
					background-color: $blush;
			}

		}

		.buttons{
			display: flex;
			flex-direction:column;
			justify-content:flex-end;
			width:100%;
			align-items:center;
			font-size: $fontsize-xs;
			font-weight: 500;	
			margin-top:10px;
			text-shadow: 4px 2px black;
			text-align: center;

			.btn{
				// width:250px;
				// border:4px solid white;
				// box-shadow: 4px 4px black;
				// padding:10px;
				// margin-right:10px;

				a {
				  color: white;
				  text-decoration: none; 
				}
			}
		}
	}

	@media screen and (min-width: 993px) and (max-width: 1200px){
		.landing-title{
			.title-large{
				font-weight: $extrabold;
				font-size: $fontsize-sxl;
				text-shadow: 9px 7px black;
				padding:0px 10px 0px 0px;
		    margin-top: -30px;
				// line-height: 50%;
				}
			.title-animated{
				font-weight: $extrabold;
				font-size: $fontsize-lg;	
				text-shadow: 9px 7px black;
				min-width:300px;
				height:0px;
				}
		}

		.landing-subtitle{
			font-weight: $extrabold;
			font-size: $fontsize-lg;	
			text-shadow: 9px 7px black;
			display: flex;
			flex-direction:row;
			justify-content:flex-start;
			align-items:center;
			width:100%;

			.landing-subtitle-main{
				line-height: 90%;
				padding-right: 20px;
				// margin-right: -20px;
			}

			.landing-subtitle-badge{
				border-radius: 50%;
				min-width:240px;
				min-height:240px;
				font-size: $fontsize-sm;
				font-weight: $bold;	
				text-shadow: 3px 2px black;
				box-shadow: 6px 5px black;
				border:4px solid white;

				display:flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				text-align: center;
				
					span{
						width:200px;
						transform: rotate(20deg);

						a {
						  color: white;
						  text-decoration: none; 
						}
					}
			}

			.landing-subtitle-badge:hover{
					background-color: $blush;
			}

		}

		.buttons{
				display: flex;
				flex-direction:column;
				justify-content:flex-end;
				width:100%;
				align-items:center;
				font-size: $fontsize-xs;
				font-weight: 500;	
				margin-top:10px;
				text-shadow: 4px 2px black;
				text-align: center;

				.btn{
					// width:250px;
					// border:4px solid white;
					// box-shadow: 4px 4px black;
					// padding:10px;
					// margin-right:10px;

					a {
					  color: white;
					  text-decoration: none; 
					}
				}
			}
	}

} // end of .landing




// @media (max-width: $col-md){
	
// }

// @media (max-width: $col-lg){
	
// }




.main{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	color:$shell;
  background-color: white;

  section{
  	background-color: white;
  	width:100%;
  	display: flex;
  	flex-direction:column;
  	align-items:center;
  	color:$shell;

	  .section-container{
	  	width:90%;
	  	display: flex;
	  	flex-direction:row;
	  	justify-content:flex-start;
	  	padding:10px 0px 20px 0px;

	  	.header{
	  		width:30%
	  	}

	  	.section-content{
	  		display:flex;
	  		flex-direction:column;
	  		width:70%;
	  	}

	  	h1{
	  		padding:0px 0px 10px 0px;
	  		margin:0px;
	  		font-size: 42px;
	  		text-shadow: 3px 2px black;
	  	}

	  	p{
	  		font-size: 24px;
	  	}

	  	.info{
	  		width:100%;
	  		padding:0px 20px 0px 10px;
	  	}

	  	.visuals{
	  		width:100%;
	  		order:-1;

	  		.placeholder{
	  			width:100%;
	  			height:580px;
	  			background-color: grey;
	  		}
	  	}
	  }
	}



  @media screen and (max-width: 768px){

  	section{

	  	.section-container{
	  		flex-direction: column;

	  		.header{
	  			width:100%;
	  		}

	  		.section-content{
	  			display:flex;
	  			flex-direction:column;
	  			width:100%;
	  		}

	  		.info{
	  			width:100%;
	  			padding:0px 20px 0px 0px;
	  		}

	  		.visuals{
	  			width:100%;
	  			order:-1;

	  			.placeholder{
			  		height:340px;
			  	}
	  		}

	  		.header{
	  			width:100%;
	  			order: -2;
	  		}
	  	}
	  }
  }

  @media screen and (min-width: 768px) and (max-width: 1380px){
  	section{

  	  	.section-container{
  	  		flex-direction: column;

  	  		.section-content{
		  			display:flex;
		  			flex-direction:column;
		  			width:90%;
		  		}

  	  		.info{
  	  			width:100%;
  	  			padding:0px 20px 0px 0px;
  	  		}

  	  		.visuals{
  	  			width:100%;
  	  			order:-1;

  	  			.placeholder{
  			  		height:340px;
  			  	}
  	  		}

  	  		.header{
  	  			width:100%;
  	  		}
  	  	}
  	  }
  }


} // end of main




footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	width:100%;
	height:60px;
	background-color: $black;
	color: $grape;
	bottom:0;

	.footer-info{
		display: flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		width:100%;
		height:100%;
	}
	  	
}

@media screen and (max-width: 768px){
	footer{
		flex-direction: column;
		height:100%;

		.footer-info{
			flex-direction:column;
			font-size: $fontsize-xs - 14;
		}
	}
}

.highlight{
	background-color: $blush;
	padding:2px;
}


.countdown{
	font-size: 32px;
	font-weight: 500;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


#campaign{
	background-color: $blush;
	color:white;
}

#journey{
	background-color: $grape;
	color:white;
}

#updates{
	background-color: $papaya;
	color:white;
}

#foundation{
	background-color: $mustard;
	color:white;
}

.bottomMenu {
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
    z-index: 1;
    color:$blush;
    font-size: $fontsize-xs;
    	font-weight: $bold;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 120px 120px;
    border-color: transparent transparent white transparent;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;

    div{
    	margin-top: 160px;
    	margin-right:10px;
    	transform: rotate(-45deg);
    	text-shadow: 1px 1px black;
    	a {
					  color:$blush;
					  text-decoration: none; 
					}
    }
}





